@font-face {
  font-family: "NotoSansKR";
  src: url("/src/assets/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --tomato-color: #ff4752;
  --tomato-color-hover: #fb3339;
  --tomato-color-active: #f91a22;
}

html,
body {
  font-family: "NotoSansKR";
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.saturday-cell .fc-daygrid-day-number {
  color: blue;
}

.sunday-cell .fc-daygrid-day-number {
  color: red;
}

@media (min-width: 769px) {
  .fc .fc-toolbar-title {
    font-size: 1rem;
  }

  .fc .fc-button {
    font-size: 0.8rem;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ripple {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@layer utilities {
  .animate-ripple {
    animation: ripple 2s ease-out infinite;
  }
}
