@font-face {
  font-family: "NotoSansKR";
  src: url("/src/assets/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --tomato-color: #ff4752;
  --tomato-color-hover: #fb3339;
  --tomato-color-active: #f91a22;
}

html,
body {
  font-family: "NotoSansKR";
  /* padding: 0 20px; */
  -ms-overflow-style: none; 
}

::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
